.green-highlight{
    color: green;
    font-size: 40px;
    }
    
    .red-highlight{
    color: red;
    font-size: 25px;
    }
    
    .badge{
        color: black;
    }
    
    .hand-icon{
        cursor: pointer;
    }